{
    "swagger": "2.0",
    "info": {
        "title": "FSM API V3",
        "description": "API v3 is divided in modules, each one corresponding to one vertical. So there is a Flights API, a Hotel API, etc. This module correspond to the operations regarding flights",
        "version": "1.95.2"
    },
    "host": "flights.despegar.it",
    "schemes": [
        "http"
    ],
    "basePath": "/v3",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/flights/itineraries": {
            "get": {
                "summary": "Get itineraries",
                "description": "Search flight itineraries for a given date from one specified point to another. The result is a list of itineraries, each of wich can have various options. The client will eventually get to choose one of the given options. The itinerary is then delimited by an id, an outbound_choice and, for round trip flights, an inbound_choice",
                "parameters": [
                    {
                        "$ref": "#/parameters/site"
                    },
                    {
                        "$ref": "#/parameters/channel"
                    },
                    {
                        "$ref": "#/parameters/from"
                    },
                    {
                        "$ref": "#/parameters/to"
                    },
                    {
                        "$ref": "#/parameters/departure_date"
                    },
                    {
                        "$ref": "#/parameters/adults"
                    },
                    {
                        "$ref": "#/parameters/return_date"
                    },
                    {
                        "$ref": "#/parameters/children"
                    },
                    {
                        "$ref": "#/parameters/infants"
                    },
                    {
                        "$ref": "#/parameters/group_by"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/sorting"
                    },
                    {
                        "$ref": "#/parameters/currency"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/with"
                    },
                    {
                        "$ref": "#/parameters/price"
                    },
                    {
                        "$ref": "#/parameters/wishlist_code"
                    },
                    {
                        "$ref": "#/parameters/total_price_range"
                    },
                    {
                        "$ref": "#/parameters/stops"
                    },
                    {
                        "$ref": "#/parameters/outbound_time"
                    },
                    {
                        "$ref": "#/parameters/inbound_time"
                    },
                    {
                        "$ref": "#/parameters/outbound_airports"
                    },
                    {
                        "$ref": "#/parameters/inbound_airports"
                    },
                    {
                        "$ref": "#/parameters/airports"
                    },
                    {
                        "$ref": "#/parameters/alliances"
                    },
                    {
                        "$ref": "#/parameters/outbound_time_range"
                    },
                    {
                        "$ref": "#/parameters/inbound_time_range"
                    },
                    {
                        "$ref": "#/parameters/unique_airline"
                    },
                    {
                        "$ref": "#/parameters/unique_outbound_airport"
                    },
                    {
                        "$ref": "#/parameters/outbound_duration_range"
                    },
                    {
                        "$ref": "#/parameters/inbound_duration_range"
                    },
                    {
                        "$ref": "#/parameters/promotions"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of itineraries",
                        "schema": {
                            "type": "array",
                            "$ref": "#/definitions/Item"
                        }
                    },
                    "400": {
                        "description": "Parameter error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/packages/flights/itineraries": {
            "get": {
                "summary": "Get itineraries for packages",
                "description": "Search flight itineraries for a given date from one specified point to another. The result is a list of itineraries, each of wich can have various options. The client will eventually get to choose one of the given options. The itinerary is then delimited by an id, an outbound_choice and, for round trip flights, an inbound_choice",
                "parameters": [
                    {
                        "$ref": "#/parameters/site"
                    },
                    {
                        "$ref": "#/parameters/channel"
                    },
                    {
                        "$ref": "#/parameters/from"
                    },
                    {
                        "$ref": "#/parameters/to"
                    },
                    {
                        "$ref": "#/parameters/departure_date"
                    },
                    {
                        "$ref": "#/parameters/adults"
                    },
                    {
                        "$ref": "#/parameters/return_date"
                    },
                    {
                        "$ref": "#/parameters/children"
                    },
                    {
                        "$ref": "#/parameters/infants"
                    },
                    {
                        "$ref": "#/parameters/group_by"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/sorting"
                    },
                    {
                        "$ref": "#/parameters/currency"
                    },
                    {
                        "$ref": "#/parameters/filter"
                    },
                    {
                        "$ref": "#/parameters/with"
                    },
                    {
                        "$ref": "#/parameters/price"
                    },
                    {
                        "$ref": "#/parameters/wishlist_code"
                    },
                    {
                        "$ref": "#/parameters/total_price_range"
                    },
                    {
                        "$ref": "#/parameters/stops"
                    },
                    {
                        "$ref": "#/parameters/outbound_time"
                    },
                    {
                        "$ref": "#/parameters/inbound_time"
                    },
                    {
                        "$ref": "#/parameters/outbound_airports"
                    },
                    {
                        "$ref": "#/parameters/inbound_airports"
                    },
                    {
                        "$ref": "#/parameters/airports"
                    },
                    {
                        "$ref": "#/parameters/alliances"
                    },
                    {
                        "$ref": "#/parameters/outbound_time_range"
                    },
                    {
                        "$ref": "#/parameters/inbound_time_range"
                    },
                    {
                        "$ref": "#/parameters/unique_airline"
                    },
                    {
                        "$ref": "#/parameters/unique_outbound_airport"
                    },
                    {
                        "$ref": "#/parameters/outbound_duration_range"
                    },
                    {
                        "$ref": "#/parameters/inbound_duration_range"
                    },
                    {
                        "$ref": "#/parameters/promotions"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of itineraries",
                        "schema": {
                            "type": "array",
                            "$ref": "#/definitions/Item"
                        }
                    },
                    "400": {
                        "description": "Parameter error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/itineraries/{id}": {
            "get": {
                "summary": "Get itinerary by ID",
                "description": "Get itinerary by ID",
                "parameters": [
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "$ref": "#/parameters/channel"
                    },
                    {
                        "name": "with",
                        "in": "query",
                        "description": "Adds extra info to the response",
                        "required": false,
                        "type": "string",
                        "enum": [
                            null,
                            "with_price_updated"
                        ]
                    },
                    {
                        "name": "X-CLIENT",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "default": "api-doc"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Itinerary"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Itinerary not found",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/itineraries/{id}/wishlist-codes": {
            "get": {
                "summary": "Wishlist Codes",
                "description": "An itinerary has a wishlist code associated. This wishlist code can be used, further in time, to retrieve the itinerary of the original itinerary, or a very similar one. The /v3/flights/itineraries/{id}/wishlist-codes resource contains a collection of associations between itineraries and their wishlist codes. Even if the itinerary cease to exist, its wishlist code may be associated to a different but very similar new itinerary.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique identifier for an itinerary",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/outbound"
                    },
                    {
                        "$ref": "#/parameters/inbound"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of wishlist codes for all routes for that itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WishlistCode"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/itineraries/{id}/commissions": {
            "get": {
                "summary": "Wishlist Codes",
                "description": "An itinerary has a wishlist code associated. This wishlist code can be used, further in time, to retrieve the itinerary of the original itinerary, or a very similar one. The /v3/flights/itineraries/{id}/wishlist-codes resource contains a collection of associations between itineraries and their wishlist codes. Even if the itinerary cease to exist, its wishlist code may be associated to a different but very similar new itinerary.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique identifier for an itinerary",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "outbound",
                        "in": "query",
                        "description": "Outbound route",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "inbound",
                        "in": "query",
                        "description": "Inbound route",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "$ref": "#/parameters/channel"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of wishlist codes for all routes for that itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WishlistCode"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/location-requirements": {
            "get": {
                "summary": "Get Location requirements",
                "description": "Provides travel requirements (vaccines, visas, passports, etc.) considering origins, destinations, stopovers and connections. Please, try to use the last version which is 2\n",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Country code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Channel identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "origins",
                        "in": "query",
                        "description": "Countries or airport where the flight is originated",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "destinations",
                        "in": "query",
                        "description": "Countries or airport where the flight arrives",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stopovers",
                        "in": "query",
                        "description": "Countries or airport where the flight stops",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "XDESP-Api-Version",
                        "in": "header",
                        "description": "asd",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Requirements"
                ],
                "responses": {
                    "200": {
                        "description": "An array of location requirements",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LocationRequirement"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Item": {
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Itinerary"
                    }
                },
                "facets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Facet"
                    }
                },
                "sorting": {
                    "$ref": "#/definitions/Sorting"
                },
                "paging": {
                    "$ref": "#/definitions/Paging"
                }
            }
        },
        "Itinerary": {
            "properties": {
                "id": {
                    "type": "string"
                },
                "outbound_choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Choice"
                    }
                },
                "inbound_choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Choice"
                    }
                },
                "price_detail": {
                    "$ref": "#/definitions/PriceDetail"
                },
                "terms_and_conditions": {
                    "$ref": "#/definitions/TermsAndConditions"
                },
                "validating_carrier": {
                    "type": "string"
                },
                "last_minute": {
                    "type": "boolean"
                }
            }
        },
        "Choice": {
            "properties": {
                "choice": {
                    "type": "integer",
                    "format": "int32"
                },
                "duration": {
                    "type": "string"
                },
                "segments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Segment"
                    }
                },
                "delay_info": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DelayInfo"
                    }
                }
            }
        },
        "Segment": {
            "properties": {
                "airline": {
                    "type": "string"
                },
                "arrival_datetime": {
                    "type": "string"
                },
                "cabin_type": {
                    "type": "string"
                },
                "departure_datetime": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "flight_id": {
                    "type": "string"
                },
                "from": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "seats_remaining": {
                    "type": "integer",
                    "format": "int32"
                },
                "equipment_code": {
                    "type": "string"
                },
                "ancillary": {
                    "$ref": "#/definitions/Ancillary"
                }
            }
        },
        "Ancillary": {
            "properties": {
                "baggages_info": {
                    "$ref": "#/definitions/BaggagesInfo"
                },
                "meals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Meal"
                    }
                },
                "entertainments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Entertainment"
                    }
                }
            }
        },
        "BaggagesInfo": {
            "properties": {
                "baggages": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Baggage"
                    }
                },
                "priced_baggages": {
                    "$ref": "#/definitions/PricedBaggage"
                }
            }
        },
        "Baggage": {
            "properties": {
                "passenger_type": {
                    "type": "string"
                },
                "weight": {
                    "type": "integer",
                    "format": "int32"
                },
                "unit": {
                    "type": "string"
                },
                "quantity": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "PricedBaggage": {
            "properties": {
                "first": {
                    "$ref": "#/definitions/Price"
                },
                "second": {
                    "$ref": "#/definitions/Price"
                },
                "third": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "Meal": {
            "properties": {
                "type": {
                    "type": "string"
                },
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "Entertainment": {
            "properties": {
                "type": {
                    "type": "string"
                },
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "DelayInfo": {
            "properties": {
                "flight_id": {
                    "type": "string"
                },
                "from": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "on_time": {
                    "type": "number",
                    "format": "double"
                },
                "cancelled": {
                    "type": "number"
                },
                "more_than30_minutes": {
                    "type": "number",
                    "format": "double"
                },
                "more_than40_minutes": {
                    "type": "number",
                    "format": "double"
                },
                "provider": {
                    "type": "string"
                },
                "category": {
                    "type": "string"
                }
            }
        },
        "Price": {
            "properties": {
                "currency": {
                    "type": "string"
                },
                "amount": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "PriceDetail": {
            "properties": {
                "commercial_policy": {
                    "type": "string"
                },
                "adult_base": {
                    "type": "number",
                    "format": "double"
                },
                "adults_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "children_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "infants_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "currency": {
                    "type": "string"
                },
                "charges": {
                    "type": "number",
                    "format": "double"
                },
                "penalty": {
                    "type": "number",
                    "format": "double"
                },
                "fees": {
                    "type": "number",
                    "format": "double"
                },
                "taxes_detail": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TaxDetail"
                    }
                },
                "taxes": {
                    "type": "number",
                    "format": "double"
                },
                "total": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "TaxDetail": {
            "properties": {
                "amount": {
                    "type": "integer",
                    "format": "int32"
                },
                "code": {
                    "type": "string"
                }
            }
        },
        "TermsAndConditions": {
            "properties": {
                "fare": {
                    "type": "string"
                },
                "documentation": {
                    "type": "string"
                },
                "bank": {
                    "type": "string"
                },
                "promo": {
                    "type": "string"
                },
                "baggage": {
                    "type": "string"
                },
                "others": {
                    "type": "string"
                }
            }
        },
        "Facet": {
            "properties": {
                "criteria": {
                    "type": "string"
                },
                "min": {
                    "type": "string"
                },
                "max": {
                    "type": "string"
                },
                "min_selected": {
                    "type": "string"
                },
                "max_selected": {
                    "type": "string"
                },
                "sub_type": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Paging": {
            "properties": {
                "limit": {
                    "type": "integer",
                    "format": "int32"
                },
                "offset": {
                    "type": "integer",
                    "format": "int32"
                },
                "total": {
                    "type": "integer",
                    "format": "int32"
                },
                "total_itineraries": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Sorting": {
            "properties": {
                "criteria": {
                    "type": "string"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "selected": {
                                "type": "boolean"
                            },
                            "value": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "LocationRequirement": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier representing a location and requirement"
                },
                "location": {
                    "type": "string",
                    "description": "Location where requirement applies"
                },
                "requirement_id": {
                    "type": "string",
                    "description": "Id of requirement."
                }
            }
        },
        "WishlistCode": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for wishlistcode"
                },
                "outbound": {
                    "type": "string",
                    "description": "Outbound route"
                },
                "inbound": {
                    "type": "string",
                    "description": "Inbound route"
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "causes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "parameters": {
        "site": {
            "name": "site",
            "in": "query",
            "description": "Country code",
            "required": true,
            "type": "string"
        },
        "channel": {
            "name": "channel",
            "in": "query",
            "description": "Channel identifier",
            "required": true,
            "type": "string"
        },
        "from": {
            "name": "from",
            "in": "query",
            "description": "Departure airport/city code",
            "required": true,
            "type": "string"
        },
        "to": {
            "name": "to",
            "in": "query",
            "description": "Arrival airport/city code",
            "required": true,
            "type": "string"
        },
        "departure_date": {
            "name": "departure_date",
            "in": "query",
            "description": "Date of departure",
            "required": true,
            "type": "string"
        },
        "adults": {
            "name": "adults",
            "in": "query",
            "description": "Adults travelling",
            "required": true,
            "type": "number",
            "default": 1
        },
        "return_date": {
            "name": "return_date",
            "in": "query",
            "description": "Date of return. The presence of this parameter means it's a round trip ticket",
            "required": false,
            "type": "string"
        },
        "children": {
            "name": "children",
            "in": "query",
            "description": "Children travelling (from the age of 2 up to 11)",
            "required": false,
            "type": "number"
        },
        "infants": {
            "name": "infants",
            "in": "query",
            "description": "Infants travelling",
            "required": false,
            "type": "number"
        },
        "group_by": {
            "name": "group_by",
            "in": "query",
            "description": "Group items by certain criteria",
            "required": false,
            "type": "string",
            "enum": [
                "none",
                "default"
            ]
        },
        "offset": {
            "name": "offset",
            "in": "query",
            "description": "Pagination: show elements starting from this offset",
            "required": false,
            "type": "number",
            "default": 0
        },
        "limit": {
            "name": "limit",
            "in": "query",
            "description": "Pagination: after the offset, show this quantity of elements",
            "required": false,
            "type": "number",
            "default": 20
        },
        "sorting": {
            "name": "sorting",
            "in": "query",
            "description": "Sorting criteria",
            "required": false,
            "type": "string",
            "enum": [
                "total_price_ascending",
                "total_price_descending",
                "stopscount_ascending",
                "stopscount_descending",
                "scoring_ascending",
                "scoring_descending",
                "duration_ascending",
                "duration_descending",
                "personal_ascending",
                "personal_descending",
                "commission_ascending",
                "commission_descending",
                "commission_personal_ascending",
                "commission_personal_descending",
                "flight_class_ascending",
                "promotional_ascending"
            ],
            "default": "total_price_ascending"
        },
        "currency": {
            "name": "currency",
            "in": "query",
            "description": "The currency upon which the prices will be shown",
            "required": false,
            "type": "string"
        },
        "filter": {
            "name": "filter",
            "in": "query",
            "description": "Filter the search with a certain criteria. The only possible value is 'cheapest-by-airlines-by-stops'",
            "required": false,
            "type": "string",
            "enum": [
                null,
                "cheapest-by-airlines-by-stops"
            ]
        },
        "with": {
            "name": "with",
            "in": "query",
            "description": "Adds extra info to the response",
            "required": false,
            "type": "string",
            "enum": [
                null,
                "commissions",
                "provider_price"
            ]
        },
        "price": {
            "name": "price",
            "in": "query",
            "description": "Defines if the price is raw or rounded",
            "required": false,
            "type": "string",
            "enum": [
                null,
                "raw"
            ]
        },
        "wishlist_code": {
            "name": "wishlist_code",
            "in": "query",
            "description": "Wishlist Code",
            "required": false,
            "type": "string"
        },
        "total_price_range": {
            "name": "total_price_range",
            "in": "query",
            "description": "Limits the result to the given price range (ie: 1000-2500)",
            "required": false,
            "type": "string"
        },
        "stops": {
            "name": "stops",
            "in": "query",
            "description": "Limits the result to direct, one-stop and/or multiple-stop itineraries",
            "required": false,
            "type": "string"
        },
        "outbound_time": {
            "name": "outbound_time",
            "in": "query",
            "description": "Limits the result according the specified outbound schedule",
            "required": false,
            "type": "string"
        },
        "inbound_time": {
            "name": "inbound_time",
            "in": "query",
            "description": "Limits the result according the specified inbound schedule",
            "required": false,
            "type": "string"
        },
        "outbound_airports": {
            "name": "outbound_airports",
            "in": "query",
            "description": "Limits the result to the given departure airports for the outbound flight",
            "required": false,
            "type": "string"
        },
        "inbound_airports": {
            "name": "inbound_airports",
            "in": "query",
            "description": "Limits the result to the given departure airports for the inbound flight",
            "required": false,
            "type": "string"
        },
        "airports": {
            "name": "airports",
            "in": "query",
            "description": "Limits the result to the given airports",
            "required": false,
            "type": "string"
        },
        "alliances": {
            "name": "alliances",
            "in": "query",
            "description": "Limits the result to the given alliances",
            "required": false,
            "type": "string"
        },
        "outbound_time_range": {
            "name": "outbound_time_range",
            "in": "query",
            "description": "Allowed time range of the outbound route. Format: hh:mm-hh:mm. Eg.: 07:00-14:30",
            "required": false,
            "type": "string"
        },
        "inbound_time_range": {
            "name": "inbound_time_range",
            "in": "query",
            "description": "Allowed time range of the inbound route. Format: hh:mm-hh:mm. Eg.: 07:00-14:30",
            "required": false,
            "type": "string"
        },
        "unique_airline": {
            "name": "unique_airline",
            "in": "query",
            "description": "If true, both trips must be done using the same airline. (Only valid in roundtrip searches)",
            "required": false,
            "type": "string",
            "enum": [
                false,
                true
            ],
            "default": false
        },
        "unique_outbound_airport": {
            "name": "unique_outbound_airport",
            "in": "query",
            "description": "If true, both first departure and last arrival must be in the same airport. (Only valid in roundtrip searches)",
            "required": false,
            "type": "string",
            "enum": [
                false,
                true
            ],
            "default": false
        },
        "outbound_duration_range": {
            "name": "outbound_duration_range",
            "in": "query",
            "description": "Allowed duration range in minutes of the outbound route. Format: %d-%d. Eg.: 0-540",
            "required": false,
            "type": "string"
        },
        "inbound_duration_range": {
            "name": "inbound_duration_range",
            "in": "query",
            "description": "Allowed duration range in minutes of the inbound route. Format: %d-%d. Eg.: 0-540",
            "required": false,
            "type": "string"
        },
        "promotions": {
            "name": "promotions",
            "in": "query",
            "description": "Include promotional results, non-promotional results, or both",
            "required": false,
            "type": "string",
            "enum": [
                null,
                false,
                true
            ],
            "default": null
        },
        "id": {
            "name": "id",
            "in": "path",
            "description": "Unique itinerary id",
            "required": true,
            "type": "string"
        },
        "outbound": {
            "name": "outbound",
            "in": "query",
            "description": "Outbound route",
            "required": true,
            "type": "number",
            "format": "int32"
        },
        "inbound": {
            "name": "inbound",
            "in": "query",
            "description": "Inbound route",
            "required": false,
            "type": "number",
            "format": "int32"
        }
    }
}