{
    "swagger": "2.0",
    "info": {
        "title": "FSM API V3",
        "description": "Move your app forward with the Uber API",
        "version": "1.0.0"
    },
    "host": "flights.despegar.it",
    "schemes": [
        "http"
    ],
    "basePath": "/v3",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/flights/itineraries/{id}": {
            "get": {
                "summary": "Get itinerary by ID",
                "description": "Get itinerary by ID",
                "parameters": [
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Channel identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "with",
                        "in": "query",
                        "description": "Adds extra info to the response",
                        "required": false,
                        "type": "string",
                        "enum": [
                            null,
                            "with_price_updated"
                        ]
                    },
                    {
                        "name": "X-CLIENT",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "default": "api-doc"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Itinerary"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Itinerary not found",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/itineraries/{id}/wishlist-codes": {
            "get": {
                "summary": "Wishlist Codes",
                "description": "An itinerary has a wishlist code associated. This wishlist code can be used, further in time, to retrieve the itinerary of the original itinerary, or a very similar one. The /v3/flights/itineraries/{id}/wishlist-codes resource contains a collection of associations between itineraries and their wishlist codes. Even if the itinerary cease to exist, its wishlist code may be associated to a different but very similar new itinerary.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique identifier for an itinerary",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "outbound",
                        "in": "query",
                        "description": "Outbound route",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "inbound",
                        "in": "query",
                        "description": "Inbound route",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of wishlist codes for all routes for that itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WishlistCode"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/itineraries/{id}/commissions": {
            "get": {
                "summary": "Wishlist Codes",
                "description": "An itinerary has a wishlist code associated. This wishlist code can be used, further in time, to retrieve the itinerary of the original itinerary, or a very similar one. The /v3/flights/itineraries/{id}/wishlist-codes resource contains a collection of associations between itineraries and their wishlist codes. Even if the itinerary cease to exist, its wishlist code may be associated to a different but very similar new itinerary.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique identifier for an itinerary",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "outbound",
                        "in": "query",
                        "description": "Outbound route",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "inbound",
                        "in": "query",
                        "description": "Inbound route",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "$ref": "#/parameters/channel"
                    }
                ],
                "tags": [
                    "Availability"
                ],
                "responses": {
                    "200": {
                        "description": "An array of wishlist codes for all routes for that itinerary",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WishlistCode"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/flights/location-requirements": {
            "get": {
                "summary": "Get Location requirements",
                "description": "Provides travel requirements (vaccines, visas, passports, etc.) considering origins, destinations, stopovers and connections. Please, try to use the last version which is 2\n",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "description": "Country code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Channel identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "origins",
                        "in": "query",
                        "description": "Countries or airport where the flight is originated",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "destinations",
                        "in": "query",
                        "description": "Countries or airport where the flight arrives",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stopovers",
                        "in": "query",
                        "description": "Countries or airport where the flight stops",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "XDESP-Api-Version",
                        "in": "header",
                        "description": "asd",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Requirements"
                ],
                "responses": {
                    "200": {
                        "description": "An array of location requirements",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LocationRequirement"
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Item": {
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Itinerary"
                    }
                },
                "facets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Facet"
                    }
                },
                "sorting": {
                    "$ref": "#/definitions/Sorting"
                },
                "paging": {
                    "$ref": "#/definitions/Paging"
                }
            }
        },
        "Itinerary": {
            "properties": {
                "id": {
                    "type": "string"
                },
                "outbound_choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Choice"
                    }
                },
                "inbound_choices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Choice"
                    }
                },
                "price_detail": {
                    "$ref": "#/definitions/PriceDetail"
                },
                "terms_and_conditions": {
                    "$ref": "#/definitions/TermsAndConditions"
                },
                "validating_carrier": {
                    "type": "string"
                },
                "last_minute": {
                    "type": "boolean"
                }
            }
        },
        "Choice": {
            "properties": {
                "choice": {
                    "type": "integer",
                    "format": "int32"
                },
                "duration": {
                    "type": "string"
                },
                "segments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Segment"
                    }
                },
                "delay_info": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DelayInfo"
                    }
                }
            }
        },
        "Segment": {
            "properties": {
                "airline": {
                    "type": "string"
                },
                "arrival_datetime": {
                    "type": "string"
                },
                "cabin_type": {
                    "type": "string"
                },
                "departure_datetime": {
                    "type": "string"
                },
                "duration": {
                    "type": "string"
                },
                "flight_id": {
                    "type": "string"
                },
                "from": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "seats_remaining": {
                    "type": "integer",
                    "format": "int32"
                },
                "equipment_code": {
                    "type": "string"
                },
                "ancillary": {
                    "$ref": "#/definitions/Ancillary"
                }
            }
        },
        "Ancillary": {
            "properties": {
                "baggages_info": {
                    "$ref": "#/definitions/BaggagesInfo"
                },
                "meals": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Meal"
                    }
                },
                "entertainments": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Entertainment"
                    }
                }
            }
        },
        "BaggagesInfo": {
            "properties": {
                "baggages": {
                    "$ref": "#/definitions/Baggage"
                },
                "priced_baggages": {
                    "$ref": "#/definitions/PricedBaggage"
                }
            }
        },
        "Baggage": {
            "properties": {
                "passenger_type": {
                    "type": "string"
                },
                "weight": {
                    "type": "integer",
                    "format": "int32"
                },
                "unit": {
                    "type": "string"
                },
                "quantity": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "PricedBaggage": {
            "properties": {
                "first": {
                    "$ref": "#/definitions/Price"
                },
                "second": {
                    "$ref": "#/definitions/Price"
                },
                "third": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "Meal": {
            "properties": {
                "type": {
                    "type": "string"
                },
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "Entertainment": {
            "properties": {
                "type": {
                    "type": "string"
                },
                "price": {
                    "$ref": "#/definitions/Price"
                }
            }
        },
        "DelayInfo": {
            "properties": {
                "flight_id": {
                    "type": "string"
                },
                "from": {
                    "type": "string"
                },
                "to": {
                    "type": "string"
                },
                "on_time": {
                    "type": "number",
                    "format": "double"
                },
                "cancelled": {
                    "type": "number"
                },
                "more_than30_minutes": {
                    "type": "number",
                    "format": "double"
                },
                "more_than40_minutes": {
                    "type": "number",
                    "format": "double"
                },
                "provider": {
                    "type": "string"
                },
                "category": {
                    "type": "string"
                }
            }
        },
        "Price": {
            "properties": {
                "currency": {
                    "type": "string"
                },
                "amount": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "PriceDetail": {
            "properties": {
                "commercial_policy": {
                    "type": "string"
                },
                "adult_base": {
                    "type": "number",
                    "format": "double"
                },
                "adults_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "children_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "infants_sub_total": {
                    "type": "number",
                    "format": "double"
                },
                "currency": {
                    "type": "string"
                },
                "charges": {
                    "type": "number",
                    "format": "double"
                },
                "penalty": {
                    "type": "number",
                    "format": "double"
                },
                "fees": {
                    "type": "number",
                    "format": "double"
                },
                "taxes_detail": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TaxDetail"
                    }
                },
                "taxes": {
                    "type": "number",
                    "format": "double"
                },
                "total": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "TaxDetail": {
            "properties": {
                "amount": {
                    "type": "integer",
                    "format": "int32"
                },
                "code": {
                    "type": "string"
                }
            }
        },
        "TermsAndConditions": {
            "properties": {
                "fare": {
                    "type": "string"
                },
                "documentation": {
                    "type": "string"
                },
                "bank": {
                    "type": "string"
                },
                "promo": {
                    "type": "string"
                },
                "baggage": {
                    "type": "string"
                },
                "others": {
                    "type": "string"
                }
            }
        },
        "Facet": {
            "properties": {
                "criteria": {
                    "type": "string"
                },
                "min": {
                    "type": "string"
                },
                "max": {
                    "type": "string"
                },
                "min_selected": {
                    "type": "string"
                },
                "max_selected": {
                    "type": "string"
                },
                "sub_type": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Paging": {
            "properties": {
                "limit": {
                    "type": "integer",
                    "format": "int32"
                },
                "offset": {
                    "type": "integer",
                    "format": "int32"
                },
                "total": {
                    "type": "integer",
                    "format": "int32"
                },
                "total_itineraries": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "Sorting": {
            "properties": {
                "criteria": {
                    "type": "string"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "selected": {
                                "type": "boolean"
                            },
                            "value": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "LocationRequirement": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier representing a location and requirement"
                },
                "location": {
                    "type": "string",
                    "description": "Location where requirement applies"
                },
                "requirement_id": {
                    "type": "string",
                    "description": "Id of requirement."
                }
            }
        },
        "WishlistCode": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier for wishlistcode"
                },
                "outbound": {
                    "type": "string",
                    "description": "Outbound route"
                },
                "inbound": {
                    "type": "string",
                    "description": "Inbound route"
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "causes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "parameters": {
        "site": {
            "name": "site2",
            "in": "query",
            "description": "Country code",
            "required": true,
            "type": "string"
        },
        "id": {
            "name": "id",
            "in": "path",
            "description": "Unique itinerary id",
            "required": "ture",
            "type": "string"
        }
    }
}